<!DOCTYPE html>
<html>

    <link rel="stylesheet" href="../static/css/registration.css">
    
    <head>
        <title>Registration</title>
        
    </head>
    <body>
        
        <div class="navbar">
            <div class="title">
                <h2 class="logo" id="Netmeds">G-meds</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="/home">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">ORDERS</a></li>
                    <li><a href="/cart.html">CART</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </div>
        </div>
        
        <div class="registrationbox">
            <h1>Sign Up</h1>
            
            <form method="POST" action="">
                <p id="details">Name:</p>
                <input type="text" id="inputspace" name="name" required>
                <p id="details">Gender:</p>
                <input type="text" id="inputspace" name="gender" required>
                <p id="details">Age:</p>
                <input type="text" id="inputspace" name="age" required>
                <p id="details">Address:</p>
                <input type="text" id="inputspace" name="address" required>
                <p id="details">Mobile No:</p>
                <input type="text" id="inputspace" name="mobile" required>
                <p id="details">email:</p>
                <input type="text" id="inputspace" name="email" required>
                <a href="">
                <button type="submit" name="signup" id="signup">Sign-up</button>
                </a>
            </form>

            

        </div>

    </body>
    </html>